/******* Header *******/
#head{
    background: #34495E;
    width: 100%;
    height: 150px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#head h2{
    padding-left: 10px ;
    font-style: oblique;
    font-size: 45px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/******* Formulario *******/
#dash {
   width: 100%;
   height:600px;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   justify-content: center;
   align-items: center;
}
#dash .padre{
   width: 100%;
   height: 100%;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   justify-content: center;
   align-items: center;
} 
#dash .hijo{
    width: 80%;
    height: 90%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #D6DBDF solid 1px;
    border-radius: 1px;
}
#dash .form{
    font-family: Arial, Helvetica, sans-serif;
    color: #5F6A6A;
    width: 85%;
    height: 70%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#dash .titulo{
    color: #ffffff;
    background:#34495E;
    margin-bottom: 30px;
    width: 100%;
    height:15%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dash .boton{
    width: 100%;
    height: 15%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dash .btnProducto{
    background: #34495E;
    color: #ffffff;
}
#dash input{
    overflow: hidden;
    margin-bottom: 20px;
    height: 35px;
    border: #D6DBDF solid 1px;
} 
/****** Tarjetas ******/
#cajaPrincipal{
    overflow-y: scroll;
    height: 600px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
#cards{
    width: 100%;
    height: 400px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cards .padre{
    width: 100%;
    height: 90%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cards .hijo{
    width: 80%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:#D6DBDF solid 1px;
}
#cards img{
    width: 100%;
    height: 40%;
    object-fit: contain;
    object-position: center center;
}
#cards p{
    text-align: center;
    color: #5F6A6A;
}
#cards .btnCard{
    margin-bottom: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cajaPrincipal .hijo:hover{
    transform: scale(1.05);
    cursor: pointer;
}
/****** Cartel de Alerta  *****/
#alerta {
    width: 100%;
    height: 50%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}
#alerta .cartel {
    width: 70%;
    height: 40%;
    border:#D6DBDF solid 1px;
    border-radius: 3px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#alerta .parrafo{
    width: 100%;
    height: 40%;
    background: #34495E; 
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
#alerta .botones{
    width: 100%;
    height: 60%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/****** Responsive *****/
@media (max-width: 300px){
    #head h2{
        font-size: 25px;
    }
    #dash .hijo{
        width:95%;
    }
}
@media screen and (min-width:300px) and (max-width: 330px){
    #head h2{
        font-size: 33px;
    }
    #dash .hijo{
        width:95%;
    }
}
@media screen and (min-width: 330px) and (max-width: 400px){
    #head h2{
        font-size: 33px;
    }
    #dash .hijo{
        width:95%;
    }
}
@media screen and (min-width: 400px) and (max-width: 700px){
    #head h2{
        font-size: 37px;
    }
    #dash .hijo{
        width:95%;
    }
}
@media screen and (min-width: 700px) and (max-width: 1050px){
    #dash{
        height: 1366px;
    }
}